.whyUs {
  color: #fff;
}

.whyUs > :global(.container) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-direction: row-reverse;
}

.image {
  width: 40%;
}

.content {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.heading {
  font-weight: 700;
  align-self: center;
  font-size: 43px;
}

.description {
  line-height: 155%;
  color: var(--color-text-muted);
  letter-spacing: 1px;
}

@media (max-width: 900px) {
  .whyUs > :global(.container) {
    flex-direction: column;
  }

  .image {
    width: 60%;
  }

  .content {
    width: 80%;
  }
}
